---
layout: default
---

<div class="home">
    <h1>Latest Post</h1>
    {% for post in site.posts limit:1 %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>
    {% endfor %}
    <h1>Recent Posts</h1>
    {% for post in site.posts offset:1 limit:2 %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 25 }}</p>
    {% endfor %}
    <p>
        Will add more here eventually.
    </p>
</div>
